Agenda.db
Cliente.db
README.db
teste.py
ConfigAgenda.db
Usuario.db
Agenda.cpython-37.pyc
Produtos.cpython-37.pyc
Client.cpython-37.pyc
Usuarios.cpython-37.pyc
ConfigAgenda.cpython-37.pyc
Agenda.cpython-38.pyc
Produtos.cpython-38.pyc
Client.cpython-38.pyc
Usuarios.cpython-38.pyc
ConfigAgenda.cpython-38.pyc