{% if tipo_usuario == "Admin" %}
{% extends "Layout.htm" %}
{% block conteudo %}
{% for message in get_flashed_messages() %}

<div class="alert alert-success">{{ message }}</div>

{% endfor %}
<div>
  <table class="table">
    <thead class="thead-dark" style="text-align: center;">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Editar</th>
      </tr>

    </thead>

    <tbody style="text-align: center;">
      {% for barbeiro in barbeiros %}
      <tr>
        <td>{{barbeiro[0]}}</td>
        <td>{{barbeiro[1]}}</td>
        <td>{{barbeiro[2]}}</td>
        <td><a href="{{url_for('DeletarBarbeiro', id=barbeiro[0])}}"><button class="btn btn-danger">Excluir</button></a>
          </button>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  {% endblock conteudo %}
  {% endif %}