{% extends "Layout.htm" %}
{% block conteudo %}

<div class="row">
    <div class="form-group col-3">
        <label>Cliente</label>
        <select class="form-control"  name="cliente" id="cliente" required >
            {% for cliente in clientes %} 
            <option value="{{cliente[0]}}">{{cliente[1] + " " + cliente[2]}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group col-3">
        <label for="">Serviços / Produtos</label>
        <select class="form-control" name="produtos" id="produtos" required>
            {% for produto in produtos %}
            <option value="{{produto[0]}}">{{produto[1]}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group col-3">
        <label for="">Barbeiro</label>
        <select class="form-control" name="barbeiro" id="barbeiro">
            {% for barbeiro in barbeiros%}
            <option value="{{barbeiro[0]}}">{{barbeiro[1] + " " + barbeiro[2]}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <button style="margin-top: 0.8cm;" class="btn btn-success" type="button" data-toggle="modal" data-target="#addOrder">
            Adicionar Produto
        </button>
        <div class="modal fade" id="addOrder" tabindex="-1" role="dialog" aria-labelledby="addOrder" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addOrder">Pedido</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="text-center" class="modal-body">
                  Produto adicionado ao Pedido!
                </div>
                <div class="modal-footer"></div>
    <hr>
    <div>
        
    </div>
</div>

{% endblock %}