<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
  
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
<link rel="icon" href="/static/img/Cabelobarba.png">
<title> Barbeware - {{titulo}}</title>
</head>

<body style="background-image: url(../static/img/Fundo_Login.jfif) ;background-repeat: no-repeat; background-size: 1400px 740px; opacity: 0.8;">
      
  <div class="container-fluid">

    <div class="row">
        <div class="col">
            <div class=img style="text-align: center; margin-top: 30px;">
                <img src="{{url_for('static', filename='img/Barbeware.png')}}" height="250" width="430"  style="box-shadow: 1px 5px 30px rgb(255, 255, 255);">
                <hr/>   
            </div>
        </div>
    </div>
        <div class="row">
          <div class="col-md-4 offset-md-4">
                <div>
                    <h3 style="text-align: center; color: aliceblue;">Login</h3>
                </div>
                <form method="POST">
                    <div class="form-group" style="color: white">
                      <label for="exampleInputEmail1">E-mail</label>
                      <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" value={{email}}>
                    </div>
                    <div class="form-group" style="color: white;">
                      <label for="exampleInputPassword1">Senha</label>
                      <input name="senha" type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                    </div>
                    <div style="text-align: center; color: red;">
                      {{mensagem}}
                    <br/>
                    <button type="submit" class="btn btn-dark btn-lg btn-block">Entrar</button>
                  </form>
                    <hr/>
                </div>
            </div>
        </div>
      </div>
    
      </div>
      
    
    </body>
    
    </html>