{% extends 'Layout.htm' %}
{% block  conteudo %}
<div>
    <h2>Filtrar Agendamentos</h2>
    <p><input id="date" type="date">
    <button class="btn btn-dark">Agendar Cliente</button></p>
</div>
<div>
    <table class="table">
        <thead class="thead-dark" style="text-align: center;">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Email</th>
            <th scope="col">Endereço</th>
            <th scope="col">N°</th>
            <th scope="col">Editar</th>
        </tr>
        </thead>
        <tbody style="text-align: center;">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tbody>
    </table>
</div>
{% endblock conteudo %}