{% extends "Layout.htm" %}
{% block conteudo %}

<div class="container-fluid">
    <form method="POST">    
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="">Clientes</label>
                
                <select class="form-control" name="cliente" >
                    {% for cliente in clientes %}
                    <option value={{cliente[0]}}>{{cliente[1]+ " "+ cliente[2]}}</option>
                {% endfor %}
                  </select>
            </div>
            <div class="col-md-3">
                <label for="">Barbeiro</label>
                <select class="form-control" name="barbeiro" id="barbeiro">
                
                    <option selected="selected">Selecione um barbeiro</option>
                    {% for barbeiro in barbeiros  %}
                    <option value={{barbeiro[0]}}>{{barbeiro[1] + " " + barbeiro[2]}}</option>
                {% endfor %}
                  </select>
            </div>
            <div class="col-md-3"> 
                <label for="">Dias Disponiveis</label>
                <input type="date"  value='2020-09-18' class="form-control" id="data" name="data">
            </div>
            <div class="col-md-2">
                
                <label for="">Horarios Disponiveis</label>

                <select class="form-control" name="hora" id="hora">
                </select>
            </div>
            <div class="col-md-1">
                <button  type="submit" style="margin-top: 0.85cm;" class="btn btn-success">Agendar!</button>
            </div>
        </div>
    </form>
</div>
<script src="{{url_for('static', filename='js/agenda.js')}}"></script>
{%  endblock conteudo %}