{% extends "Layout.htm" %}

{% block conteudo %}


{% for message in get_flashed_messages() %}

    <div class="alert alert-success">{{ message }}</div>
    
{% endfor %}
<table class="table">
  <thead class="thead-dark" style="text-align: center;">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nome Produto</th>
      <th scope="col">Quantidade Produto</th>
      <th scope="col">Valor Produto</th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody style="text-align: center;">
    {% for produto in estoque %}
    <tr>
      <td>{{produto[0]}}</td>
      <td>{{produto[1]}}</td>
      <td>{{produto[2]}}</td>
      <td>R$ {{produto[3]}}</td>
      <td><a href="{{url_for('ListEnterStock', id=produto[0])}}"><button class="btn btn-success">Entradas</button></a>

        <a href="{{url_for('DeleteProduce', id=produto[0])}}"><button class="btn btn-danger">Excluir</button></a>
        
        <a href="{{url_for('EditProduce', id=produto[0])}}"><button class="btn btn-dark">Editar</button></a>
    </tr>
    {% endfor  %}
  </tbody>
</table>



{% endblock conteudo %}